/target*
/report*
/.tools
*.orig
__pycache__/
*.pyc
/examples/evaluation/.local
/integrations/playwright/node_modules/
/integrations/playwright/test-results/

/*-NOTES.md
/*-PROGRESS.md
/INTEGRATION-REPORT*.md
